<div class="container-fluid" style="float:center">

   
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tous des clients</h6>
        </div>
          
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Telephone</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let i of tableau">
                            <td>{{i.nom}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.tel}}</td>
                    
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
