
<header class="header">
  <a routerLink="" class="logo"> <i class="fas fa-shopping-basket"></i> MPECOM </a>
  <nav class="navbar">
      <a routerLink="client" >Client</a>
      <div id="login-btn" class="fas fa-user">
      <a routerLink="fournisseur" > Fournisseur</a></div>
      <div id="login-btn" class="fas fa-user">
        <a routerLink="" > Produit</a></div>
  
  </nav>

</header>

<div class="home">
<div class = "slide-container">
  <router-outlet></router-outlet>
</div>
</div>
<footer class = "footer">
  <section class="credit">Wejden Kadri </section>
</footer>

 